<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand me-4 ms-4" href="#"><img class="logo" src="assets/img/logo.svg" alt=""></a>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item d-flex align-items-center"
                        *ngFor="let item of (headerItems$ | async); trackBy: trackById">
                        <a class="nav-link" [href]="item.route || '#'">{{ item.labelKey ? (item.labelKey | translate) :
                            (item.label || '—') }}</a><span class="separator">|</span>
                    </li>
                </ul>
            </div>

            <div class="m-items me-3 d-md-flex align-items-center justify-content-around d-none gap-3 w-100">
                <span>{{ 'common.balance' | translate }}: <strong>$432,098.98</strong></span> |
                <span>{{ 'common.freePlay' | translate }}: <strong>$432,098.98</strong></span>
                <button class="btn btn-deposit">{{ 'common.deposit' | translate }}</button>
            </div>
            <div class="d-flex align-items-center gap-3">
                <a type="button" data-bs-toggle="offcanvas" data-bs-target="#userCanvas" aria-controls="userCanvas"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <img class="avatar-header-size" src="assets/img/avatar.png" alt="user">
                    <img class="drop_vector d-none d-md-inline" src="assets/img/drop_vector.svg" alt="vector">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                    aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

        </div>
    </nav>

    <div class="subheader" role="toolbar" aria-label="Subheader actions">
        <div class="container-fluid d-flex align-items-center gap-3 justify-content-between w-100">
            <!-- Ejemplo: tabs o filtros -->
            <div class="d-none d-md-block">
                <ul class="nav">
                    <li class="nav-item" *ngFor="let s of (subHeaderItems$ | async); trackBy: trackById">
                        <a class="nav-link" [href]="s.route || '#'">
                            {{ s.labelKey ? (s.labelKey | translate) : (s.label || '—') }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="m-items d-flex align-items-center justify-content-around d-md-none w-100">
                <span>{{ 'common.balance' | translate }}: <strong>$432,098.98</strong></span> |
                <span>{{ 'common.freePlay' | translate }}: <strong>$432,098.98</strong></span>
                <button class="btn btn-deposit">{{ 'common.deposit' | translate }}</button>
            </div>
            <div class=" align-items-center gap-3 d-none d-md-flex">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                </form>
                <theme-toggle></theme-toggle>
                <div class="dropdown g-3">
                    <button class="btn btn-lan dropdown-toggle d-flex align-items-center" type="button"
                        id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="assets/img/global.svg" class="me-2">
                        {{ currentLanguage | uppercase }}
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                        <li *ngFor="let lang of languageService.availableLanguages">
                            <a class="dropdown-item d-flex align-items-center" href="#"
                                (click)="changeLanguage(lang.code); $event.preventDefault()"
                                [class.active]="lang.code === currentLanguage">
                                {{ lang.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        ...
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="userCanvas" aria-labelledby="userCanvasLabel">
    <div class="offcanvas-header">
        <a class="arrow" data-bs-dismiss="offcanvas" aria-label="Close"><img src="assets/img/arrow-left.svg"
                alt="arrow"></a>

    </div>
    <div class="offcanvas-body">
        ...
    </div>
</div>