.dropdown-submenu {
    position: relative;

    &>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -100px;
        margin-left: 0px;
        display: none;
    }

    &:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-item-submenu {
        padding: 0.25rem 1.5rem;
        white-space: nowrap;
    }
}

.buttons-v {
    width: 100%;
    text-align: left;
    margin: 2px 0;

    span {
        margin-left: 8px;
    }
}

.custom-p{
    white-space: unset;
    padding: 0.5rem 0.9375rem;
    font-size: 0.8125rem;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }
}

.button-item:hover{
    background: #ffa500;
}

.help-button:hover{
    background: #ffa500;
}

.user-menu.nav > li > a.select-store:hover {
    background: #ffa500;
}

.feather-user, .sessionAmount{
    cursor: pointer;
}

table{
    width: 100%;
    tr{
        text-align: center;
        margin: 10px;
    }
    td{
        padding: 10px;
    }
}

.modal.sessionBets{
    --bs-modal-width: 900px;
}