.block-header{
    color: var(--bs-body-tertiary-color);   
    background: var(--bs-body-secundary-bg);
    border-radius: 5px 5px 0px 0px;
    padding: .5rem;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    
}

.list-container{
    border-radius: 0px 0px 5px 5px;
    list-style: none; 
    margin: 0;
    padding: 0;
}

.list-container .line{
    border-bottom: 1px solid var(--bs-li-border-color);
    text-decoration: none;
    
}

.collapse-bg{
    background-color: var(--bs-li-background-color);
}

.list-container .item{
    color: var( --bs-li-text-color);
    text-decoration: none;
    font-weight: 400s;
    
}


button[aria-expanded="true"] .toggle-icon,
a[aria-expanded="true"] .toggle-icon {
    transform: rotate(180deg);

}

.btn-sm {
    font-weight: bold;
}
