.dark {
    --bs-body-bg:              #212529;
    --bs-body-color:           #f8f9fa;
    --bs-primary:              #0d6efd;
    --bs-secondary:            #adb5bd;
    --bs-success:              #198754;
    --bs-info:                 #0dcaf0;
    --bs-warning:              #ffc107;
    --bs-danger:               #dc3545;
    --bs-light:                #343a40;
    --bs-dark:                 #f8f9fa;
    --bs-body-tertiary-bg:     #2c2f33;
    --bs-body-tertiary-color:  #e9ecef;
    --bs-link-color:           #f8f9fa;
    --bs-link-hover-color:     #ffffff;
    --bs-border-color:         #495057;
}