.dark {
    --bs-body-bg: #212529;
    --bs-body-color: #f8f9fa;
    --bs-primary: #0d6efd;
    --bs-secondary: #adb5bd;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #343a40;
    --bs-dark: #f8f9fa;
    --bs-body-secundary-bg: #0b0b0b;
    --bs-body-tertiary-bg: #2c2f33;
    --bs-body-tertiary-color: #e9ecef;
    --bs-link-color: #f8f9fa;
    --bs-link-hover-color: #ffffff;
    --bs-border-color: #495057;

    /* Navbar (dark) */
    --app-navbar-bg:    #000;
    --app-navbar-text:  #fff;
    --app-navbar-link-hover: #ddd;

    // subheader 
    --app-subheader-bg: var(--bs-body-secundary-bg);
    --app-subheader-text: var(--bs-body-tertiary-color);
    --app-subheader-link-hover:var(--bs-link-hover-color);

    // hamburger icon
    --app-toggler-border: none;
    --app-toggler-bg: transparent;
    --app-toggler-hover-bg: rgba(0, 0, 0, 0.04);
    --app-toggler-line-color: var(--app-navbar-text);
    --app-toggler-size-w: 1.5rem;
    --app-toggler-size-h: 1.2rem;
}