:root {
    --bs-body-bg: #ffffff;
    --bs-body-color: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-body-secundary-bg: #0B4777;
    --bs-body-tertiary-bg: #031f3e;
    --bs-body-tertiary-color: #fff;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #04C8F3;
    --bs-border-color: #dee2e6;
    

    // navbar
    --app-navbar-bg: var(--bs-body-tertiary-bg);
    --app-navbar-text: var(--bs-body-tertiary-color);
    --app-navbar-link-hover: var(--bs-link-hover-color);

    // subheader 
    --app-subheader-bg: var(--bs-body-secundary-bg);
    --app-subheader-text: var(--bs-body-tertiary-color);
    --app-subheader-link-hover:var(--bs-link-hover-color);
    
    // hamburger icon
    --app-toggler-border: none;
    --app-toggler-bg: transparent;
    --app-toggler-hover-bg: rgba(0, 0, 0, 0.04);
    --app-toggler-line-color: var(--app-navbar-text);
    --app-toggler-size-w: 1.5rem;
    --app-toggler-size-h: 1.2rem;
}