@use './assets/styles/variables';
@use './assets/styles/mixins';

@use './assets/styles/main';

@use './assets/styles/themes/light';
@use './assets/styles/themes/dark';

body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    font-family: var(--bs-font-sans-serif);
    font-size: var(--bs-body-font-size);
    line-height: var(--bs-body-line-height);

}

:root,
body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

// navbar
.navbar {
    background-color: var(--app-navbar-bg) !important;
}

/* Texto general y brand */
.navbar,
.navbar .navbar-brand {
    color: var(--app-navbar-text) !important;
}

/* Enlaces nav-link */
.navbar .nav-link {
    color: var(--app-navbar-text) !important;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: var(--app-navbar-link-hover) !important;
}
